[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-systemd"]
	path = bundle/vim-systemd
	url = https://github.com/wgwoods/vim-systemd-syntax.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "bundle/vim-mipssyntax"]
	path = bundle/vim-mipssyntax
	url = https://github.com/harenome/vim-mipssyntax.git
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "bundle/plenary.nvim"]
	path = bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "bundle/telescope.nvim"]
	path = bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "bundle/vim-visual-multi"]
	path = bundle/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "bundle/nvim-treesitter"]
	path = bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "bundle/nvim-cmp"]
	path = bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "bundle/cmp-nvim-lsp"]
	path = bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "bundle/nvim-tree.lua"]
	path = bundle/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "bundle/tokyonight.nvim"]
	path = bundle/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "bundle/lualine.nvim"]
	path = bundle/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "bundle/bufferline.nvim"]
	path = bundle/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "bundle/cmp-path"]
	path = bundle/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "bundle/cmp-buffer"]
	path = bundle/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-vsnip"]
	path = bundle/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "bundle/cmp-vsnip"]
	path = bundle/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
[submodule "bundle/gitsigns.nvim"]
	path = bundle/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/dashboard-nvim"]
	path = bundle/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim.git
[submodule "bundle/indent-blankline.nvim"]
	path = bundle/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "bundle/octo.nvim"]
	path = bundle/octo.nvim
	url = https://github.com/pwntester/octo.nvim.git
[submodule "bundle/cmp-git"]
	path = bundle/cmp-git
	url = https://github.com/petertriho/cmp-git.git
[submodule "bundle/cmp-spell"]
	path = bundle/cmp-spell
	url = https://github.com/f3fora/cmp-spell.git
[submodule "bundle/vim-hclfmt"]
	path = bundle/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "bundle/jinja.vim"]
	path = bundle/jinja.vim
	url = https://gitlab.com/HiPhish/jinja.vim
[submodule "bundle/avante.nvim"]
	path = bundle/avante.nvim
	url = https://github.com/yetone/avante.nvim.git
[submodule "bundle/nui.nvim"]
	path = bundle/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "bundle/dressing.nvim"]
	path = bundle/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim.git
[submodule "bundle/nvim-web-devicons"]
	path = bundle/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "bundle/lspsaga.nvim"]
	path = bundle/lspsaga.nvim
	url = https://github.com/nvimdev/lspsaga.nvim.git
[submodule "bundle/vim-nix"]
	path = bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "bundle/git-conflict.nvim"]
	path = bundle/git-conflict.nvim
	url = https://github.com/akinsho/git-conflict.nvim
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "bundle/vim-sandwich"]
	path = bundle/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "bundle/cmp-treesitter"]
	path = bundle/cmp-treesitter
	url = https://github.com/ray-x/cmp-treesitter
[submodule "bundle/lspkind-nvim"]
	path = bundle/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "bundle/lsp_signature.nvim"]
	path = bundle/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "bundle/mason.nvim"]
	path = bundle/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "bundle/mason-lspconfig.nvim"]
	path = bundle/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "bundle/nvim-treesitter-textobjects"]
	path = bundle/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "bundle/nvim-ts-autotag"]
	path = bundle/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "bundle/nvim-treehopper"]
	path = bundle/nvim-treehopper
	url = https://github.com/mfussenegger/nvim-treehopper
[submodule "bundle/nvim-treesitter-context"]
	path = bundle/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "bundle/nlua.nvim"]
	path = bundle/nlua.nvim
	url = https://github.com/tjdevries/nlua.nvim
[submodule "bundle/vim-sayonara"]
	path = bundle/vim-sayonara
	url = https://github.com/mhinz/vim-sayonara
[submodule "bundle/sqls.nvim"]
	path = bundle/sqls.nvim
	url = https://github.com/nanotee/sqls.nvim
[submodule "bundle/twilight.nvim"]
	path = bundle/twilight.nvim
	url = https://github.com/folke/twilight.nvim
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/gitlinker.nvim"]
	path = bundle/gitlinker.nvim
	url = https://github.com/ruifm/gitlinker.nvim
[submodule "bundle/todo-comments.nvim"]
	path = bundle/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = https://github.com/wellle/targets.vim
